body {
    background-color: #0d1117;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
}

.input-menu {
    display: flex;
    flex-direction: row;
    color: white;
    margin: 0.4vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
    margin: 0px;
}

.title {
    margin: 1vw;
    padding-left: 3vw;
    position: absolute;
    cursor: default;
    /*text-shadow: 5px 5px 5px #0d1117;*/
    text-shadow: 3px 3px 10px #0d1117;
}

h2, h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    margin-bottom: 5px;
    margin-top: 0;
}

h4 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    margin-top: 3px;
    margin-bottom: 3px;
    position: absolute;
}

.menu {
    display: flex;
    flex-direction: row;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    justify-content: center;
    margin-top: 3vh;
    cursor: default;
}

.freq-menu {
    justify-content: left;
}

.spectrum-menu {
    position: absolute;
}

.menu-box {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

.lower {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.wave-menu {
    display: flex;
    flex-direction: row;
}

.gui {
    display: flex;
    flex-direction: column;
}

.argand {
    margin-top: 40px;
}

.sign {
    margin-left: 3vw;
    margin-right: 3vw;
    font-size: 40px;
    color:#d3d3d3;
}

h1 {
    margin: 0;
}

